* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
#root {
  font-family: "Barlow Semi Condensed", sans-serif;
  text-align: center;
  height: 100vh;
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));


}